$font-family: helvetica, arial, san-serif;
$gray-1: #f8f9fa;
$gray-2: #b2b7bb;
$gray-3: #6c757d;
$gray-4: #2e3236;
$gray-5: #212529;
$green: #42b15b;

@mixin white-on-gray {
  color: white;
  background-color: $gray-3;
}

.body {
  background-color: white;
  font-family: $font-family;
}

.cart {
  background-color: $gray-1;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;

  &__title {
    margin: 0;
    color: $gray-4;
  }

  &__numitems {
    @include white-on-gray;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: end;
    margin: 0;
    padding: 2px 10px;
    width: max-content;
    border-radius: 10px;
    font-weight: bold;
  }

  &__itemlist {
    grid-column: 1/3;
    overflow: hidden;
    margin-top: 1em;
    background-color: white;
    border: 1px solid $gray-2;
    border-radius: 5px;
  }

  &__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0.75em 1em;
    &:not(:last-of-type) {
      border-bottom: 1px solid $gray-2;
    }
    &-name {
      margin: 0;
      font-weight: bold;
      color: $gray-4;
    }
    &-info {
      margin: 0.5em 0 0 0;
      font-weight: bold;
      font-size: 0.75em;
      color: $gray-3;
    }
    &-price {
      justify-self: end;
      margin: 0;
      color: $gray-3;
    }
    &--promo {
      background-color: $gray-1;
      & > .cart__item-name,
      .cart__item-info,
      .cart__item-price {
        color: $green;
      }
    }
    &--total > .cart__item-price {
      font-weight: bold;
    }
  }

  &__item-info {
    grid-column: 1/2;
  }

  &__item-price {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__promo {
    grid-column: 1/3;
    margin-top: 1em;
    padding: 0.5em;
    background-color: white;
    border: 1px solid $gray-2;
    border-radius: 5px;
  }
}

.promo {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 0;
  &__input,
  &__button {
    font-size: 1em;
    border: 1px solid $gray-2;
    padding: 0.6em;
  }
  &__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
  }
  &__button {
    @include white-on-gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
  }
}
