.body {
  background-color: darkgray;
  font-family: Arial, sans-serif;
}

.post-card {
  max-width: 320px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 4px 1px #888;
  background-color: white;

  &.link {
    text-decoration: none;
  }

  &__img {
    width: 100%;
  }

  &__summary {
    padding: 1em;
  }

  &__tags {
    margin: 0;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 0px;
  }

  &__date {
    margin-top: 5px;
    font-size: 0.9em;
    color: gray;
  }

  &__para {
    font-size: 0.9em;
  }

  &__cta {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 440px) {
  .post-card {
    display: flex;
    max-width: 500px;

    &__img {
      height: 100%;
      width: 40%;
      order: 2;
    }
  }
}
