:root {
  --max-width: 900px;
  --min-width: 300px;
  --preferred-width: 80%;
  --quoteColor: lightblue;
}

.quote {
  border-radius: 20px;
  border: 4px solid var(--quoteColor);
  width: clamp(var(--min-width), var(--preferred-width), var(--max-width));
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 1em;

  &__block {
    position: relative;

    &::before {
      --quoteSize: 2.75rem;
      content: "";
      background-image: url("images/quote.png");
      background-size: contain;
      height: var(--quoteSize);
      width: var(--quoteSize);
      position: absolute;
      left: -4rem;
      top: -1rem;
    }

    &__author {
      justify-self: end;
    }
  }

  &__imgdiv {
    &__img {
      height: 7rem;
      position: relative;
      top: -3rem;
      border: 0.25rem solid var(--quoteColor);
      box-shadow: 0.5rem 0.5rem var(--quoteColor);
    }
  }
}
